Value interface (\S+)
Value vrid (\d+)
Value priority (\d+)
Value state (\S+)
Value address (\S+)
Value watch (\S+)
Value interval (\d+)
Value preempt (on|off)

Start
  ^interface:\s+${interface}
  ^vrid:\s+${vrid}
  ^\s+priority:\s+${priority}
  ^\s+state:\s+${state}
  ^\s+address #\d+:\s+${address}
  ^\s+watch:\s+${watch}
  ^\s+interval:\s+${interval}\s+sec
  ^\s+preempt:\s+${preempt} -> Record
